<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
	<title>User Information and Form</title>

	<!--JQUERY-->
	<script
		src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

	<!-- FRAMEWORK BOOTSTRAP para el estilo de la pagina-->
<link rel="stylesheet"
		href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
	<script
		src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
	<script 
		src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
	
	<!-- Los iconos tipo Solid de Fontawesome-->
	<link rel="stylesheet"
		href="https://use.fontawesome.com/releases/v5.0.8/css/solid.css">
	<script src="https://use.fontawesome.com/releases/v5.0.7/js/all.js"></script>
	
	<!-- Nuestro css-->
	<link rel="stylesheet" type="text/css" href="static/css/user-form.css"
		th:href="@{/css/user-form.css}">

	<!-- DATA TABLE -->
	<script src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
	<script src="https://cdn.datatables.net/1.10.19/js/dataTables.bootstrap4.min.js"></script>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.1/css/bootstrap.css">	
	<link rel="stylesheet" href="https://cdn.datatables.net/1.10.19/css/dataTables.bootstrap4.min.css">

	<script type="text/javascript">
	    $(document).ready(function() {
	        //Asegurate que el id que le diste a la tabla sea igual al texto despues del simbolo #
	        $('#userList').DataTable();
	        $("#correo").hide();
	        $("#id").hide();
	        $("#email").hide();
	    } );
	</script>
</head>
<body>
		<header th:fragment="header">
		<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
			<a class="navbar-brand" href="#">Spring boot</a>
			<button class="navbar-toggler" type="button" data-toggle="collapse"
				data-target="#navbarSupportedContent"
				aria-controls="navbarSupportedContent" aria-expanded="false"
				aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>

			<div class="collapse navbar-collapse" id="navbarSupportedContent">
				<ul class="navbar-nav mr-auto">
					<li class="nav-item"><a class="btn btn-success" th:href="@{/palindromo}">Palindromos</a>
					</li>
				</ul>
				<form class="form-inline my-2 my-lg-0">
					<a class="btn btn-primary" th:href="@{'/update/'+${#authentication.getPrincipal().getUsername()}}">Actualizar datos</a>
					<a class="btn btn-danger" th:href="@{/logout}">
					<span th:text="${#authentication.getPrincipal().getUsername()}"></span> - <span >logout</span>
					<span class="float-right"><i class="fas fa-sign-out-alt"></i></span></a>
				</form>
			</div>
		</nav>
	</header>
	<div class="container">
	<div class="mx-auto col-sm-8 main-section" id="myTab" role="tablist">
		<div class="tab-content" id="myTabContent">
			<div class="tab-pane fade show" th:classappend=" ${formTab}" id="form" role="tabpanel" aria-labelledby="form-tab">
				<div class="card">
					<div class="card-header">
						<h4>Actualizar datos</h4>
					</div>
					<div class="card-body">
<form class="form"  role="form" autocomplete="off" th:action="@{/update}"
 th:object="${userForm}" method="post"> 

	<div class="form-group row">
		<label class="col-lg-3 col-form-label form-control-label">Nombre</label>
		<div class="col-lg-9">
			<input class="form-control" type="text" th:field="${userForm.nombre}" th:disabled="${disableFields}">
			<div class="alert-danger" th:if="${#fields.hasErrors('nombre')}" 
			th:errors="*{nombre}">Name Error</div>
		</div>
	</div>
	<div class="form-group row">
		<label class="col-lg-3 col-form-label form-control-label">RFC</label>
		<div class="col-lg-9">
			<input class="form-control" type="text" th:field="${userForm.rfc}" th:disabled="${disableFields}">
			<div class="alert-danger" th:if="${#fields.hasErrors('rfc')}" 
			th:errors="*{rfc}">Name Error</div>
		</div>
	</div>
		<div class="form-group row">
		<label class="col-lg-3 col-form-label form-control-label">Direccion</label>
		<div class="col-lg-9">
			<input class="form-control" type="text" th:field="${userForm.direccion}" th:disabled="${disableFields}">
		</div>
	</div>
	<div class="form-group row">
		<label class="col-lg-3 col-form-label form-control-label">Telefono</label>
		<div class="col-lg-9">
			<input class="form-control" type="text" th:field="${userForm.telefono}" th:disabled="${disableFields}">
	</div>
	</div>
	<div class="form-group row">
		<label class="col-lg-3 col-form-label form-control-label">Website</label>
		<div class="col-lg-9">
			<input class="form-control" type="text" th:field="${userForm.website}">
		</div>
	</div>
	<div class="form-group row">
			<input class="form-control" type="text" id="correo" name="correo" th:field="${userForm.email}">
			<input class="form-control" type="text" id="id" name="id" th:field="${userForm.id}">
			<input class="form-control" type="text" id="email" name="email" th:field="${userForm.password}">
	</div>
	<div class="form-group row">
		<div class="col-lg-12 text-center">
			<a class="btn btn-secondary" th:href="@{'/editUser/cancel'}">Cancelar</a>
			<input type="submit" class="btn btn-primary" value="Guardar">
		</div>
	</div>
	<div class="alert-danger" th:if="${formErrorMessage}" th:text="${formErrorMessage}">Error Message</div>
</form>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
</body>
</html>